.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
}

.btn-whatsapp img {
  width: 62px;
  height: 62px;
  margin-right: 10px;
}

.btn-whatsapp:hover {
  background-color: #25D366;
}

.btn-instagram {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
}


.btn-instagram img {
  width: 62px;
  height: 62px;
  margin-right: 10px;
}

.btn-instagram:hover {
  background-color: #25D366;
}

/* Establecemos la imagen de fondo y su tamaño */
body {
    background-image: url('https://example.com/background.jpg');
    background-size: cover;
}
/* Creamos la capa de fondo del contenido */
.content {
    background-color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Establecemos la velocidad de desplazamiento de la capa de fondo del contenido */
.content {
    transform: translateZ(0) scale(1);
    z-index: 2;
    will-change: transform;
}
/* Establecemos la velocidad de desplazamiento de la capa de fondo de la imagen */
body:before {
    content: "";
    background-image: url('https://example.com/background.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    will-change: transform;
}
h1 {
	color: green;
}
button {
	background-color: green;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	margin-bottom: 20px;
}


.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.image-container img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
	body {
		font-size: 20px;
	}
}


