.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
}

.btn-whatsapp img {
  width: 62px;
  height: 62px;
  margin-right: 10px;
}

.btn-whatsapp:hover {
  background-color: #25D366;
}

.btn-instagram {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 999;
}
body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

.uniform-image {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 30px 0;
}

.uniform-image img {
	max-width: 50%;
	margin-right: 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-info {
	margin: 30px 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin-bottom: 10px;
}

ul ul {
	margin-left: 20px;
}



.btn-instagram img {
  width: 62px;
  height: 62px;
  margin-right: 10px;
}

.btn-instagram:hover {
  background-color: #25D366;
}

h1 {
	color: green;
}
button {
	background-color: green;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	margin-bottom: 20px;
}


.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.image-container img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
	body {
		font-size: 20px;
	}
}


