/* Estilos para el header y el menú de navegación */
header {
background-color: #33691E;
color: #fff;
padding: 20px;
}

section {
  background-color: #f7f7f7;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Estilos para el contenido principal */
main {
padding: 20px;
}

h1 {
font-size: 3em;
text-align: center;
}

h2 {
font-size: 36px; /* tamaño de fuente para los títulos de nivel 2 /
margin-bottom: 20px;
color: #555; / color del texto */
}

ul {
list-style-type: disc;
margin-left: 40px;
}

/* Estilos para la sección de descripción */
.descripcion {
background-color: #f5f5f5;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

.descripcion h2 {
font-size: 28px;
margin-top: 0;
}

.descripcion p {
font-size: 18px;
line-height: 1.5;
}

/* Estilos para la sección "Sobre Nosotros" */
.about-us {
background-color: #f7f7f7;
padding: 50px;
text-align: center;
}

.about-us h2 {
font-size: 36px;
color: #333;
margin-bottom: 30px;
}

.about-us p {
font-size: 18px;
color: #666;
line-height: 1.5;
margin-bottom: 30px;
}

.about-us img {
width: 300px;
height: 300px;
border-radius: 50%;
margin-bottom: 30px;
transition: transform 0.5s;
}

.about-us img:hover {
transform: rotate(360deg);
}

/* Estilos para la sección de descripción con fondo gris */
.description {
background-color: #f5f5f5;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
text-align: center;
}

/* Estilos para el footer */
footer {
background-color: #8BC34A;
color: #fff;
padding: 20px;
text-align: center;
}

footer a {
color: #fff;
text-decoration: none;
}

/* Botón genérico */
.btn {
display: inline-block;
background-color: #4CAF50;
color: #fff;
padding: 10px 20px;
border-radius: 3px;
text-decoration: none;
font-size: 16px;
transition: all 0.3s ease;
}

.btn:hover {
background-color: #333;
color: #fff;
}
